#categorias {
    display: flex;
    width: 72.5em;
    height: 10.6875em;
    margin: 2.4375em auto;
    justify-content: space-between;

    .card {
        width: 8em;
        height: 10.6875em;
        text-align: center;
        font-weight: 500;
        color: #4E4E4E;
        cursor: pointer;

        div {
            box-shadow: 0.0625em 0.0625em 1.25em rgba(0, 0, 0, 0.203); // 1px, 1px, 20px
            border-radius: 0.625em;
            height: 8em;     
            width: 8em;      
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F4F4F4;
        }

        p {
            margin-top: 1.375em;
        }
    }

    .selected {
        color: #3019B2;
        
        div {
            background-color: transparent;
        }
    }
}

@media screen and (max-width:1000px){

    #categorias{
        width: fit-content;
        height: auto;
        flex-wrap: wrap;
        padding: 0 1.5em;
        justify-content: center;
        gap: 1em;

        .card{
            margin-bottom: 1em;
        }
    }
    
}
