footer {
    margin-top: 5.625em;

    #newsletter {
        display: flex;
        padding: 2.5em 5em;
        background-color: #271c47;
        color: white;
        justify-content: space-between;

        div {
            p {
                font-size: 0.875em;
            }
        }

        #form {
            display: flex;
            flex-direction: column;
            gap: 1em;

            div {
                display: flex;
                gap: 0.5em;
            }

            input[type="text"] {
                width: 14.5625em;
                height: 2.625em;
                border: none;
                border-radius: 0.5em;
                padding-left: 0.625em;
            }

            button {
                width: 9.8125em;
                height: 2.625em;
                background-color: #F7CA11;
                border: none;
                border-radius: 0.5em;
                font-weight: 600;
            }
        }
    }

    #menus {
        display: flex;
        padding: 3.8125em 5em;
        justify-content: space-between;
        align-items: center;
        background-color: #F4F4F4;

        #empresa {
            display: flex;
            flex-direction: column;
            gap: 1em;

            #logo {
                height: 3em;
                width: 10.25em;
            }

            div {
                display: flex;
                gap: 1em;

                img {
                    height: 1.5em;
                    width: 1.5em;
                    cursor: pointer;
                }
            }
        }

        hr {
            height: 12.375em;
            border-color: #28282817;
        }

        #items {
            display: flex;
            gap: 6.25em;

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 1.25em;
                color: #222222;

                h1 {
                    font-size: 1em;
                }

                li {
                    font-size: 0.875em;
                    cursor: pointer;
                }
            }
        }
    }

    #direitos {
        text-align: center;

        p {
            font-size: 0.8125em;
            padding: 0.8125em;
            color: #3F3F40;
        }
    }
}

@media screen and (max-width:1000px){
    footer {
    margin-top: 5.625em;

    #newsletter {
        display: flex;
        padding: 2.5em 1.5em;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;
        text-align: center;

        #form{
            align-items: center;

            div{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                button{
                    width: 100%;
                }

            }
        }
    }

    #menus {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 3.8125em 1.5em;
        gap: 2em;

        hr{
            display: none;
        }

        #items{
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
    }

}
}
